
body{
    height: 100vh;
    /* Chrome 10-25, Safari 5.1-6 */
     background: linear-gradient(
       #182848,
       #4b6cb7
     ); 
 overflow: hidden;
}
.container {
  display: flex;
  justify-content: center;
  flex-direction: row;
  transform: translateY(150px);
}
.container2 {
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.arr {
    background: white;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    margin: 15px;
    transition: 0.4s ease;

    
}

.arr:hover{
    box-shadow: 0px 0px 20px 20px rgba(0,0,0,0.15);
}

.arr div {
    position: absolute;
    height: 40px;
    width: 40px;
    border-top: 8px solid #202020;
    border-left: 8px solid #202020;
    transform:rotate(45deg) translate(40px,5px);
    
}

.right {
    transform: rotate(90deg);

}

.left {
    transform: rotate(-90deg);

}

.down {
    transform: rotate(180deg);
 
}

.shoot {
    background: white;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    margin: 15px;
    transition: 0.4s ease;

}
.camera {
    background: white;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    margin: 15px;
    transition: 0.4s ease;

}

.id {
    font-size: 20px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    transform: translate(10px,35px);
}

.header {
    font-size: 20px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    align-items: flex-start;
    color: aliceblue;
    justify-content: center;
}
